<IfModule mod_rewrite.c>
  ErrorDocument 403 /resources/php/index.php
  ErrorDocument 404 /resources/php/index.php

  Options -Indexes
  RewriteEngine On
  RewriteBase /

  RewriteRule ^favicon\.ico$ /files/resources/favicon/favicon.ico [R=301,END]
  RewriteRule ^(.+)/data/generated/?$ /data/$1.generated.json [END]
  RewriteRule ^(.+)/data/?$ /data/$1.json [END]
  RewriteRule ^files/(.*)$ $1 [END]
  RewriteRule ^.*$ /resources/php/index.php [END]
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires 0
</IfModule>
