<IfModule mod_rewrite.c>
  ErrorDocument 404 /

  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f

  RewriteRule ^a/[-a-z0-9]+$ /any/html/action_cards_index.html [L]
  RewriteRule ^favicon\.ico$ /any/ico/favicon.ico [R=301,L]
  RewriteRule ^[^.]*$ /any/html/index.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires 0
</IfModule>
