body {
  margin: 0;
  height: 100%;
  background-color: black;
  background: url('/any/images/jpg/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  color: white;
  text-align: right;
  min-height: 80vh;
}

footer {
  color: white;
  text-align: center;
}

iframe#patrons-for-today {
    display: block;
    border: none;
    height: 50vh;
    width: 100%;
}

.accordion-item {
  background-color: rgba(0, 0, 0, 0);
}
.accordion-button {
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button.collapsed {
  background-color: rgba(0, 200, 200, 0.7);
  color: white;
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(0, 100, 100, 1);
  color: white;
  font-weight: bold;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion-body {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

#header-languages a {
  color: rgb(0, 200, 200);
}
footer a, footer a:hover {
  color: rgb(0, 200, 200);
}
.page-content a {
  color: rgb(0, 85, 85);
}

.page-content table {
  text-align: center;
}

.page-content th {
  border: solid 1px black;
  background-color: rgb(0, 100, 100);
  color: rgb(0, 200, 200);
}
.page-content tr:nth-child(odd) {
  background-color: rgb(0, 200, 200);
  color: rgb(50, 50, 50);
}
.page-content tr:nth-child(even) {
  background-color: rgb(0, 150, 150);
  color: rgb(50, 50, 50);
}

.page-content td {
  border: solid 1px black;
}

.page-content blockquote {
  padding: 0 1em;
  color: rgb(0, 100, 100);
  border-left: .25em solid rgb(0, 100, 100);
}

.page-content .colored {
  color: rgb(0, 100, 100);
}
.page-content .centered {
  text-align: center;
}
.page-content .sized {
  font-size: 30px;
}

.status {
  width: auto;
  min-width: 20px;
  height: 20px;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}
.status-black {
  background-color: #000000;
  color: #FFFFFF;
}
.status-gray {
  background-color: #888888;
  color: #FFFFFF;
}
.status-red {
  background-color: #F43545;
  color: #FFFFFF;
}
.status-orange {
  background-color: #FA8901;
  color: #FFFFFF;
}
.status-yellow {
  background-color: #FAD717;
  color: #000000;
}
.status-green {
  background-color: #00BA71;
  color: #000000;
}
.status-blue {
  background-color: #00C2DE;
  color: #000000;
}
.status-indigo {
  background-color: #00418D;
  color: #FFFFFF;
}
.status-violet {
  background-color: #5F2879;
  color: #FFFFFF;
}
.status-white {
  background-color: #FFFFFF;
  color: #000000;
}
.status-title {
  font-weight: bold;
  color: rgb(0, 100, 100);
  border-color: rgb(0, 100, 100);
}
.status-list {
  font-weight: bold;
  color: white;
  border-color: white;
  background-color: rgb(0, 100, 100);
}
