body {
  margin: 0;
  height: 100%;
  background-color: black;
  background: url('/any/jpg/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.paper-templates-body {
  background-color: white;
  background: none;
}

header {
  color: white;
  text-align: right;
  min-height: 80vh;
}

footer {
  color: white;
  text-align: center;
}

iframe#my-patrons-for-today, iframe#my-patrons-simplified-list-for-today {
    display: block;
    border: none;
    height: 50vh;
    width: 100%;
}

.accordion-item {
  background-color: rgba(0, 0, 0, 0);
}
.accordion-button {
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button.collapsed {
  background-color: rgba(0, 200, 200, 0.7);
  color: white;
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(0, 100, 100, 1);
  color: white;
  font-weight: bold;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion-body {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

#header-languages a {
  color: rgb(0, 200, 200);
}
#header-languages p {
  display: inline;
}
header a, header a:hover, footer a, footer a:hover {
  color: rgb(0, 200, 200);
  text-decoration: none;
}
.page-content a {
  color: rgb(0, 85, 85);
  text-decoration: none;
}

.page-content table {
  text-align: center;
}

.page-content th {
  border: solid 1px black;
  background-color: rgb(0, 100, 100);
  color: rgb(0, 200, 200);
}
.page-content tr:nth-child(odd) {
  background-color: rgb(0, 200, 200);
  color: rgb(50, 50, 50);
}
.page-content tr:nth-child(even) {
  background-color: rgb(0, 150, 150);
  color: rgb(50, 50, 50);
}

.page-content td {
  border: solid 1px black;
}

.page-content blockquote {
  padding: 0 1em;
  color: rgb(0, 100, 100);
  border-left: .25em solid rgb(0, 100, 100);
}

.page-content .colored {
  color: rgb(0, 100, 100);
}
.page-content .centered {
  text-align: center;
}
.page-content .sized {
  font-size: 30px;
}

.status {
  width: auto;
  min-width: 20px;
  height: 20px;
  margin: 0px;
  padding: 2px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  white-space: pre;
}
.status-god {
  background-color: #FFFFFF;
  color: #FAD717;
}
.status-mission {
  background-color: #BBBBBB;
  color: black;
}
.status-black, .status-worship {
  background-color: #000000;
  color: #FFFFFF;
}
.status-gray {
  background-color: #888888;
  color: #FFFFFF;
}
.status-red {
  background-color: #F43545;
  color: #FFFFFF;
}
.status-orange {
  background-color: #FA8901;
  color: #FFFFFF;
}
.status-yellow {
  background-color: #FAD717;
  color: #000000;
}
.status-green {
  background-color: #00BA71;
  color: #000000;
}
.status-blue {
  background-color: #00C2DE;
  color: #000000;
}
.status-indigo {
  background-color: #00418D;
  color: #FFFFFF;
}
.status-violet {
  background-color: #5F2879;
  color: #FFFFFF;
}
.status-white {
  background-color: #FFFFFF;
  color: #000000;
}
.status-brown {
  background-color: #964B00;
  color: #FFFFFF;
}
.status-title {
  font-weight: bold;
  color: rgb(0, 100, 100);
  border-color: rgb(0, 100, 100);
}
.status-list {
  font-weight: bold;
  color: white;
  border-color: white;
  background-color: rgb(0, 100, 100);
}
.button {
  color: white;
  background-color: rgb(0, 150, 150);
}



.svg-image {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7461%) hue-rotate(145deg) brightness(107%) contrast(109%); /* #000000 */
}
.svg-image-header {
  filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(394%) hue-rotate(356deg) brightness(118%) contrast(100%); /* #FFFFFF */
}
a .svg-image {
  filter: brightness(0) saturate(100%) invert(93%) sepia(81%) saturate(4142%) hue-rotate(106deg) brightness(107%) contrast(106%); /* #00FFFF */
}

.background-photo-attribution {
  font-size: 10px;
}

.page-content > h1 {
  text-align: center;
}
.page-content > h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 100, 100);
  border-color: rgb(0, 100, 100);
  width: auto;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 2px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  white-space: pre;
}
.page-content > h3 {
  font-size: 20px;
  color: rgb(0, 100, 100);
  text-align: center;
}

.paper-template-content {
  border-color: black;
  width: max-content;
  max-width: 100%;
  padding: 2px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  break-after: page;
}
.paper-template-content > h1:before, .paper-template-content .link:before {
  border-style: solid;
  border-width: 1px;
  color: red;
  background-color: white;
  border-color: rgb(0, 100, 100);
  margin-right: 10px;
}
.paper-template-content .link:before {
  content: " ⮯ ";
}
.paper-template-content > h1:before {
  content: " ⮬ ";
}
.paper-template-content .link, .paper-template-content > h1 {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: white;
  border-color: white;
  background-color: rgb(0, 100, 100);
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  white-space: pre;
}
.paper-template-content > h2 {
  font-size: 20px;
  color: red;
  text-align: left;
  text-decoration-line: underline;
}
.paper-template-content > h2:after {
  content: ":"
}
.paper-template-content .input-value {
  font-style: italic;
  color: rgb(0, 100, 100);
}
.paper-template-content .input-value:before {
  color: black;
  content: "„";
}
.paper-template-content .input-value:after {
  color: black;
  content: "”";
}

.bg-card {
  background-color: #f8f9fa !important;
}

.bg-card > .card-header {
  height: 13mm;
  font-size: 6mm;
  color: rgb(0, 100, 100);
  font-weight: bold;
}

.card-header-link {
  color: rgb(0, 100, 100);
  font-weight: bold;
}

.selected-day-info {
  color: rgb(200, 0, 0);
  font-weight: bold;
}

.card-url-link {
  color: rgb(0, 0, 200);
  font-weight: bold;
}

.blockquote {
  padding: 0 1em;
  color: rgb(0, 100, 100);
  border-left: .25em solid rgb(0, 100, 100);
  font-size: 1em;
}

