/* BODY */

body {
  margin: 0;
  margin-top: 4rem;
  background-color: white;
  background: url('/files/resources/jpg/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.body-full main {
  min-height: 65vh;
}

/* NAVBAR */

#navbar {
  color: white;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: inline;
  margin-left: 3rem;
  z-index: 1;
}

#navbar-selected-language {
  position: fixed;
  top: 0;
  right: 3rem;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
  text-align: center;
  padding: 0 1rem;
  background: black;
  border-left: 1px solid white;
}

#navbar-sidebar-left-opener {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 3rem;
  background-color: black;
  font-size: 3rem;
  line-height: 3.3rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid white;
  cursor: pointer;
}

#navbar-sidebar-right-opener {
  position: fixed;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  background-color: black;
  font-size: 1rem;
  line-height: 3.3rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

#navbar-sidebar-left-opener:hover {
  background-color: rgb(0, 120, 100);
}

#sidebar-left-switcher:checked ~ #navbar > #navbar-sidebar-left-opener:hover {
  background-color: rgb(200, 100, 0);
}

#navbar-sidebar-right-opener:hover {
  background-color: rgb(0, 120, 100);
}

#sidebar-right-switcher:checked ~ #navbar > #navbar-sidebar-right-opener:hover {
  background-color: rgb(200, 100, 0);
}

#navbar-sidebar-left-opener-icon {
  margin-bottom: 1.25rem;
  width: 2rem;
  height: 2rem;
  content: url("/files/resources/svg/list.svg");
}

#navbar-sidebar-right-opener-icon {
  margin-bottom: 0.5rem;
  width: 2rem;
  height: 2rem;
  content: url("/files/resources/svg/translate.svg");
}

#sidebar-right-switcher:checked ~ #navbar > #navbar-sidebar-right-opener > #navbar-sidebar-right-opener-icon {
  content: url("/files/resources/svg/x.svg");
  width: 2.5rem;
  height: 2.5rem;
}

#sidebar-left-switcher:checked ~ #navbar > #navbar-sidebar-left-opener > #navbar-sidebar-left-opener-icon {
  content: url("/files/resources/svg/x.svg");
  width: 2.5rem;
  height: 2.5rem;
}

.navbar-element {
  float: left;
  transition: 0.5s;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem;
  font-size: 1.25rem;
}

#navbar-subtitle {
  color: grey;
}

#language-select {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 3rem;
  overflow: auto;
  z-index: 1;
  display: none;
  color: white;
  background: white;
  max-height: calc(100% - 3rem);
}

#sidebar-left {
  left: 0;
  border-radius: 0px 0px 2rem 0px;
  direction: rtl;
}

#sidebar-right {
  right: 0;
  border-radius: 0px 0px 0px 2rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sidebar-left ul {
  direction: ltr;
}

.sidebar li {
  background-color: rgb(0, 88, 76);
  padding: 15px;
  font-size: 1rem;
  cursor: pointer;
}

.sidebar-icon {
  margin-right: 15px;
}

.sidebar li:hover {
  background: rgb(0, 120, 100);
}

#sidebar-left-switcher:checked ~ #sidebar-left {
  display: block;
}

#sidebar-right-switcher:checked ~ #sidebar-right {
  display: block;
}

.sidebar-switcher {
  display: none;
}

.sidebar-li-with-separator-below {
  border-bottom: 1px solid white;
}

/* FOOTER */

#footer {
  background-color: #333;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: white;
}

/* BREADCRUMBS */

.breadcrumbs-active-link {
  color: white;
  font-size: 15px;
}
.breadcrumbs-active-link:hover {
  color: yellow;
  font-size: 15px;
}
.breadcrumbs-inactive-link {
  color: grey;
  font-size: 15px;
}
.breadcrumbs-path-separator {
  color: darkgrey;
  font-size: 15px;
}














body {
  color: rgb(0, 200, 200);
}

main {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}


main a {
  text-decoration: none;
  color: rgb(0, 100, 100);
}
main a:hover {
  text-decoration: none;
  color: rgb(0, 100, 100);
}



.body-full header {
  padding: 10px;
}
.body-content header {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  vertical-align: bottom;
}
header {
  background-color: rgba(255, 255, 255, 0);
}

.body-content main {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  min-height: 100vh;
}

footer {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
}

.no-margin-on-first-line-only-paragraph {
  padding-left: 1em;
  text-indent: -1em;
  display: inline-block;
}

.record-active {
  background-color: #FFFF77;
}
.record-inactive {
}

#cards-canvas {
  width: 1;
  height: 1;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#ppi-test {
  width: 1in;
  visible: hidden;
  padding: 0px;
}

.patron-gallery-item-info {
  font-size: 10px;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.categories-list-item, .indexed-name-list-item {
  width: auto;
  min-width: 20px;
  height: 20px;
  margin: 0px;
  padding: 3px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #FFFFFF;
  color: #000000;
}
.category-color {
  border-radius: 50px;
}

.center {
  text-align: center;
}




.svg-image {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%); /* #FFFFFF */
}
a .svg-image {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%); /* #FFFFFF */
}
a:hover .svg-image {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%); /* #FFFFFF */
}
main a .svg-image {
  filter: brightness(0) saturate(100%) invert(10%) sepia(98%) saturate(5907%) hue-rotate(177deg) brightness(96%) contrast(103%); /* #006464 */
}
main a:hover .svg-image {
  filter: brightness(0) saturate(100%) invert(10%) sepia(98%) saturate(5907%) hue-rotate(177deg) brightness(96%) contrast(103%); /* #006464 */
}
button .svg-image {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%); /* #FFFFFF */
}
.error-message .svg-image {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%); /* #FFFFFF */
}
.challenge-success-status-icon-todo .svg-image {
  filter: brightness(0) saturate(100%) invert(56%) sepia(34%) saturate(3434%) hue-rotate(3deg) brightness(100%) contrast(101%); /* #FA8901 */
}
.challenge-success-status-icon-aborted .svg-image {
  filter: brightness(0) saturate(100%) invert(11%) sepia(98%) saturate(6687%) hue-rotate(17deg) brightness(90%) contrast(121%); /* #DD0000 */
}
.challenge-success-status-icon-waiting .svg-image {
  filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(6840%) hue-rotate(247deg) brightness(77%) contrast(139%); /* #0000DD */
}
.challenge-success-status-icon-done .svg-image {
  filter: brightness(0) saturate(100%) invert(29%) sepia(48%) saturate(2473%) hue-rotate(95deg) brightness(103%) contrast(107%); /* #00FF00 */
}

.btn-sm .svg-image {
  width: 20px;
  height: 20px;
}



.navbar-toggler {
  border-color: white !important;
}
.navbar-brand {
  color: white !important;
  font-size: 2em;
  font-weight: bold;
  vertical-align: top;
}

.nav-link {
  font-weight: bold;
}
li.nav-item > a {
  color: white !important;
}
li.nav-item > a:hover {
  color: white !important;
}

#nav-challenges {
  overflow-x: scroll;
}


.no-wrap {
  white-space: pre;
}

.image-change-icon {
  max-height: 100px;
  object-fit: scale-down;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.card-form-data-contact-info {
  color: green;
}

.project-initiative-info {
  font-size: 0.8em;
}

.form-error-message {
  color: red;
  font-weight: bold;
}

.form-section, table.forms-table td {
  width: auto;
  min-width: 20px;
  margin: 0px;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: lightgray;
  color: green;
}

#date-change-form {
  white-space: nowrap;
}

.copyright-hidden-content-info {
  color: gray;
  font-weight: bold;
  font-style: italic;
}

.btn-my {
  color: black;
  background: gray;

  padding: 0;
  border-style: none;

  cursor: pointer;

  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem;

  color: white;
  background-color: gray;
  border-color: black;

  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  user-select: none;
  border: 1px solid transparent;

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  -webkit-appearance: button;

  text-transform: none;

  margin: 0;
  font-family: inherit;

  box-sizing: border-box;
}

.form-select-my {
  color: white;
  background: rgb(0, 100, 100);

  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  font-size: .875rem;

  padding: .375rem 2.25rem .375rem .75rem;

  word-wrap: normal;

  text-transform: none;

  font-weight: 400;
  line-height: 1.5;

  border: 1px solid black;
  border-radius: .25rem;

  margin: 0;
  font-family: inherit;

  box-sizing: border-box;
}

input-my {
}

.flag-icon {
  object-fit: cover;
  border-radius: 50% !important;
  border: 1px solid #dee2e6 !important;
  width: 48px;
  height: 48px;
}

.feast-item-id {
  font-weight: bold;
  font-size: 0.7em;
  color: green;
}





textarea {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  white-space: pre;
  overflow-wrap: normal;
  width: 100%;
  height: 10em;
}


.notification-prefix {
  font-weight: bold;
}

iframe {
  display: block;
  border: none;
  height: 50vh;
  width: 100%;
}

.notes-description {
  margin: 10px;
  padding: 2px;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 100, 100);
}
.notes-description sup {
  color: red;
}

#notes-list {
  scroll-behavior: smooth;
}

#notifications {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.selectable-content {
  user-select: all;
  cursor: pointer;
}

.description-area blockquote {
  margin-left: 10px;
  padding: 0 1em;
  color: rgb(0, 100, 100);
  border-left: .25em solid rgb(0, 100, 100);
  font-size: 1em;
}

.description-area .selected-day-info {
  color: rgb(200, 0, 0);
  font-weight: bold;
}

.description-area .status {
  width: auto;
  min-width: 20px;
  margin: 1px;
  padding: 2px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  white-space: pre;
}
/*.status-god {*/
  /*background-color: #FFFFFF;*/
  /*color: #FAD717;*/
/*}*/
/*.status-mission {*/
  /*background-color: #BBBBBB;*/
  /*color: black;*/
/*}*/
/*.status-black, .status-worship {*/
  /*background-color: #000000;*/
  /*color: #FFFFFF;*/
/*}*/
/*.status-gray {*/
  /*background-color: #888888;*/
  /*color: #FFFFFF;*/
/*}*/
/*.status-red {*/
  /*background-color: #F43545;*/
  /*color: #FFFFFF;*/
/*}*/
/*.status-orange {*/
  /*background-color: #FA8901;*/
  /*color: #FFFFFF;*/
/*}*/
/*.status-yellow {*/
  /*background-color: #FAD717;*/
  /*color: #000000;*/
/*}*/
/*.status-green {*/
  /*background-color: #00BA71;*/
  /*color: #000000;*/
/*}*/
/*.status-blue {*/
  /*background-color: #00C2DE;*/
  /*color: #000000;*/
/*}*/
/*.status-indigo {*/
  /*background-color: #00418D;*/
  /*color: #FFFFFF;*/
/*}*/
/*.status-violet {*/
  /*background-color: #5F2879;*/
  /*color: #FFFFFF;*/
/*}*/
/*.status-white {*/
  /*background-color: #FFFFFF;*/
  /*color: #000000;*/
/*}*/
/*.status-brown {*/
  /*background-color: #964B00;*/
  /*color: #FFFFFF;*/
/*}*/
.status-title {
  font-weight: bold;
  color: rgb(0, 100, 100);
  border-color: rgb(0, 100, 100);
}
.status-list {
  font-weight: bold;
  color: white;
  border-color: white;
  background-color: rgb(0, 100, 100);
}
