:root {
    --color1: #1B143B;
    --color2: #44B5BE;
    --color3: #F08719;
    --color3-light: #FEF3E8;
    --color4: #5A5A5A;
    --white: #ffffff;
    --black: #000000;
    --red: red;
    --line: #efefef;
    --breadcrumb: #A6A6A6;
    --Regular: 400;
    --SemiBold: 500;
    --Bold: 700;

    --status-error: #FBBABA;
    --status-warning: #F5FBBA;
    --status-info: #BAEAFB;
    --status-success: #BAFBC5;

    --color-step-done: #02d024;
    --color-step-optional-waiting: var(--color3);
    --color-step-waiting: var(--black);
    --color-step-aborted: var(--red);
}

body,
html {
    padding: 0px !important;
    margin: 0px !important;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
    font-family: "Poltawski Nowy", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--color1);
    width: 100%;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    color: var(--color4);
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: var(--SemiBold);
    line-height: 172%;
    width: 100%;
}

.nopad {
    padding: 0px !important;
}

a.button-1,
a.button-2 {
    background-color: var(--color3);
    border-radius: 25px;
    color: var(--white);
    border: none;
    padding: 20px 35px 20px 35px;
    font-weight: var(--SemiBold);
    font-size: 16px;
    text-decoration: none;
    margin-top: 15px;
    transition: all 0.25s;
}

a.button-2 {
    background-color: var(--color1);
    color: var(--white);
}


/* --------------------------- Main Menu --------------------------- */

.main-menu {
    padding: 10px 0px 10px 0px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
}

img.logo {
    width: 100%;
    max-width: 247px;
}

.support {
    width: 235px;
    background-color: var(--color3);
    border-radius: 25px;
    padding: 11px 35px 11px 35px !important;
}

a.support {
    text-decoration: none;
    transition: all 0.25s;
}

.support p {
    font-weight: var(--SemiBold) !important;
    color: var(--white);
    margin: 0px !important;
    font-size: 14px;
    line-height: 0px;

}

.support img {
    width: 36px;
}

img.menu-icon {
    width: auto;
    height: 38px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.25s;
}

/* --------------------------- END Main Menu --------------------------- */


/* --------------------------- Modals --------------------------- */

.modal-content {
    border: none;
}

.modal-head {
    background-color: var(--color1);
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.modal-content {
    background-color: var(--white);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.modal-container {
    padding: 45px 35px 35px 35px;
}

button.modal-bt {
    background-color: var(--color3);
    border-radius: 25px;
    color: var(--white);
    border: none;
    padding: 20px 25px 20px 25px;
    font-weight: var(--SemiBold);
    font-size: 16px;
    width: 100%;
    max-width: 250px;
    transition: all 0.25s;
    margin-top: 20px;
}
button.modal-bt:disabled {
    background-color: var(--color4);
}

.checklist-step-status-done,
button.modal-bt-done {
    background-color: var(--color-step-done);
}

.checklist-step-status-optional-waiting,
button.modal-bt-optional-waiting {
    background-color: var(--color-step-optional-waiting);
}

.checklist-step-status-waiting,
button.modal-bt-waiting {
    background-color: var(--color-step-waiting);
}

.checklist-step-status-aborted,
button.modal-bt-aborted {
    background-color: var(--color-step-aborted);
}

button.modal-bt-with-other-button {
    margin-right: 15px;
}

button.modal-btc {
    background-color: var(--white);
    border: var(--color3) 3px solid !important;
    border-radius: 25px;
    color: var(--color3);
    border: none;
    padding: 20px 25px 20px 25px;
    font-weight: var(--SemiBold);
    font-size: 16px;
    width: 100%;
    max-width: 250px;
    margin-top: 25px;
    transition: all 0.25s;
}

img.modal-head-icon,
img.modal-close-icon {
    width: 72px;
    padding: 25px 20px 25px 20px;
}

img.modal-close-icon {
    cursor: pointer;
    transition: all 0.25s;
}

.input-form {
    width: 100%;
    max-width: 320px;
    color: var(--color4);
    font-size: 15px;
    font-weight: var(--SemiBold);
    padding: 18px 15px 18px 25px;
    text-align: left;
    border: var(--color1) 3px solid !important;
    border-radius: 25px;
    background-image: none;
    margin-bottom: 30px;
}

.select-form {
    width: 100%;
    max-width: 320px;
    color: var(--color4);
    font-weight: var(--Bold);
    font-size: 15px;
    padding: 18px 15px 18px 25px;
    text-align: left;
    border: var(--color1) 3px solid !important;
    border-radius: 25px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(/files/resources/svg/arrow-down.svg);
    background-position: right 25px center;
    background-size: 20px 12px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.lang-select {
    margin-bottom: 20px;
    transition: all 0.25s;
}

.lang-select a {
    color: var(--color4);
    font-weight: var(--Bold);
    font-size: 15px;
    text-decoration: none;
}

.lang-select img {
    width: auto;
    height: 38px;
    margin: 0px 20px;
}


/* --------------------------- END Modals --------------------------- */


/* --------------------------- Main Banner --------------------------- */

.container-full-bcg {
    width: 100%;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(/files/resources/webp/bcg.webp);
    background-attachment: fixed;
}

@media (max-width: 1700px) {

    .container-full-bcg {
        background-size: inherit;
        background-position: top center;

    }
}

@media (max-width: 991px) {

    .container-full-bcg {
        background-size: inherit;
        background-position: top left;
        height: auto;
        padding: 45px 0px 65px 0px;
    }
}



.b-left h1 {
    width: 100%;
    color: var(--white);
    font-weight: var(--Bold);
    font-size: 44px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

h1:after {
    content: "";
    display: flex;
    width: 160px;
    height: 4px;
    margin-top: 25px;
    background: var(--white)
}

.b-left p {
    width: 100%;
    color: var(--white);
    font-weight: var(--SemiBold);
    line-height: 182%;
    font-size: 14px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    margin-top: 25px;
    margin-bottom: 15px;
}

.b-left a.button-1,
.b-left a.button-2 {
    background-color: var(--color3);
    border-radius: 25px;
    color: var(--white);
    border: none;
    padding: 20px 25px 20px 25px;
    font-weight: var(--SemiBold);
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
}

.b-left a.button-2 {
    background-color: var(--color1);
    border-radius: 25px;
    color: var(--white);
    margin-left: 15px;
}

.b-right {
    height: 600px;
}


/* --------------------------- END Main Banner --------------------------- */


/* --------------------------- Section 1 --------------------------- */

.section-1 {
    margin-top: 65px;
}

img.section-1-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.section-1-text {
    padding-left: 45px;
}

.section-1-text h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.section-1-text h2:after {
    content: "";
    display: flex;
    width: 110px;
    height: 4px;
    margin-top: 20px;
    background: var(--color3)
}

.section-line,
.section-line-2 {
    display: block;
    border: var(--line) 2px solid !important;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
}

/* --------------------------- END Section 1 --------------------------- */


/* --------------------------- Section 2 --------------------------- */

img.section-2-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.section-2 {
    text-align: center;
}

.section-2-text {
    height: 140px;
}

.section-2-text h3 {
    font-size: 20px;
    line-height: 130%;
    margin: 15px 0px 15px 0px;
}

.section-1 a.button-2,
.section-2 a.button-1,
.section-2 a.button-2 {
    display: inline-block;
    width: auto;
    background-color: var(--color1);
    border-radius: 25px;
    color: var(--white);
    border: none;
    font-weight: var(--SemiBold);
    font-size: 16px;
    text-decoration: none;
    margin-top: 15px;
}

.section-1 a.button-2,
.section-2b a.button-1,
.section-2c a.button-2,
.section-3 a.button-2 {
    padding: 20px 50px 20px 25px;
    background-repeat: no-repeat;
    background-image: url(/files/resources/svg/arrow-right.svg);
    background-position: right 20px center;
    background-size: 19px 19px;
}

.section-2 a.button-2 {
    background-color: var(--color3);
}


/* --------------------------- END Section 2 --------------------------- */


/* --------------------------- Section 3 --------------------------- */

.section-3 {
    margin-bottom: 5px;
}

img.section-3-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.section-3-text {
    padding-left: 45px;
}

.section-3-text h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.section-3-text h2:after {
    content: "";
    display: flex;
    width: 110px;
    height: 4px;
    margin-top: 20px;
    background: var(--color3)
}

/* --------------------------- END Section 3 --------------------------- */


/* --------------------------- PAGE --------------------------- */

.breadcrumb {
    padding-top: 20px;
    overflow: auto !important;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.breadcrumb ol {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.breadcrumb ol li {
    display: inline-block;
    padding-left: 0px;
    font-weight: var(--SemiBold);
    color: var(--breadcrumb);
    font-size: 13px;
    background-image: url(/files/resources/svg/separator.svg);
    background-repeat: no-repeat;
    background-position: center right 0px;
    background-size: 9px 14px;
    padding: 0px 12px 0px 0px !important;
}
.breadcrumb ol li:last-child {
    background: none;
}

.breadcrumb ol li a {
    text-decoration: none;
    color: var(--color3);
    transition: all 0.25s;
}

img.home {
    width: 19px;
}

.page-content {
    margin-top: 35px;
}

.page-content a {
    color: var(--color3);
}

.page-content ul {
    padding-left: 0px;
    margin-top: 15px;
}


.page-content li {
    font-size: 14px;
    font-weight: var(--SemiBold);
    color: var(--color4);
    margin-bottom: 15px;
    list-style: none;
    background-image: url(/files/resources/svg/dot.svg);
    background-repeat: no-repeat;
    background-position: top 4px left 10px;
    background-size: 9px 14px;
    padding: 0px 12px 0px 30px !important;
}

.page-content strong {
    font-size: 14px;
    font-weight: var(--Bold);
}

.page-content h1 {
    width: 100%;
    color: var(--color1);
    font-weight: var(--Bold);
    font-size: 44px;
    line-height: 125%;
    text-shadow: none;
    margin-bottom: 25px;
}

.page-content h1:after {
    content: "";
    display: flex;
    width: 160px;
    height: 4px;
    margin-top: 15px;
    background: var(--color3);
}

img.page-main-img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}


/* --------------------------- END PAGE --------------------------- */


/* --------------------------- DONATE PAGE --------------------------- */

.donate-cards {
    margin: 45px 0px 20px 0px;
}

.donate-card {
    border: var(--color1) solid 4px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.donate-card img {
    width: 100%;
    height: 50px;
    margin: 35px 0px 35px 0px;
    padding: 0px 45px 0px 45px;
}

a.button-3 {
    background-color: var(--color1);
    border-radius: 25px;
    color: var(--white);
    border: none;
    padding: 20px 55px 20px 55px;
    font-weight: var(--SemiBold);
    font-size: 16px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 25px;
    transition: all 0.25s;
}


/* --------------------------- END DONATE PAGE --------------------------- */


/* ----------------------------- Section footer ---------------------------------- */

.section-footer {
    margin-top: 55px;
    padding: 60px 0px 45px 0px;
    background: var(--color1);
}

.section-footer h5 {
    font-weight: var(--Bold);
    font-size: 18px;
    color: var(--white);
    margin: 0px 0px 30px 0px;
}

.section-footer a {
    font-weight: var(--Regular);
    font-size: 15px;
    color: var(--white);
    text-decoration: none;
    margin: 0px 0px 3px 0px;
    display: block;
    padding: 7px 0px 7px 0px;
    transition: all 0.25s;
}

.section-footer p {
    font-weight: var(--Regular);
    font-size: 15px;
    color: var(--white);
    line-height: 140%;
    margin: 25px 0px 35px 0px;
}

img.logo-footer {
    width: 245px;
}


.copyright {
    margin-top: 45px;
}

.copyright p {
    margin: 0px;
    font-weight: var(--SemiBold);
}

/* ----------------------------- END Section footer ---------------------------------- */


/* ----------------------------- Hover Effect ---------------------------------- */

a.button-1:hover,
a.button-2:hover,
a.support:hover,
img.menu-icon:hover,
img.modal-close-icon:hover,
button.modal-btc:hover,
button.modal-bt:hover,
.lang-select:hover,
.section-footer a:hover,
.breadcrumb ol li a:hover,
a.button-3:hover {
    opacity: 0.7;
    transition: all 0.25s;
}

/* ----------------------------- END Hover Effect ---------------------------------- */


/* ----------------------------- START MOBILE ---------------------------------- */

@media (max-width: 1200px) {

    .section-footer h5 {
        margin-top: 25px;
        margin-bottom: 45px;
    }
}

@media (max-width: 992px) {

    img.logo {
        width: 100%;
        max-width: 150px;
    }

    .r-m-np {
        padding-right: 0px !important;
    }

    .support-mobile {

        background-color: var(--color3);
        border-radius: 50px;
        padding: 4px !important;
    }

    .support-mobile img {
        width: 24px;
    }

    img.menu-icon {
        width: auto;
        height: 28px;
        margin-left: 12px;
    }

    .b-left h1 {
        width: 100%;

        font-weight: var(--Bold);
        font-size: 32px;
        text-shadow: none;
    }

    h1:after {
        content: "";
        display: flex;
        width: 160px;
        height: 4px;
        margin-top: 25px;
        background: var(--color3)
    }

    .b-left p {
        width: 100%;
        font-weight: var(--SemiBold);
        line-height: 182%;
        font-size: 14px;
        text-shadow: none;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .b-left a.button-1,
    .b-left a.button-2 {
        width: 100%;
        max-width: 280px;
        text-align: center;
        margin-top: 20px;
    }

    img.section-1-img {
        height: 620px;

    }

    .section-1-text {
        padding-left: 15px;
        margin-top: 30px;
    }

    .section-line {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .section-2-text {
        height: auto !important;
    }

    .section-2-text p {
        margin-bottom: 0px;
    }

    .section-2 a.button-1,
    .section-2 a.button-2 {
        margin-top: 15px;
        margin-bottom: 55px;
    }

    .section-line-2 {
        margin-top: 0px;
        margin-bottom: 60px;
    }

    img.section-3-img {
        height: 320px;
    }

    .section-3-text {
        padding-left: 15px;
        margin-top: 30px;
    }

    .section-footer h5 {
        margin-top: 45px;
    }

    .page-content h1 {

        font-size: 36px;
    }

    .page-content h1:after {
        content: "";
        display: flex;
        width: 160px;
        height: 4px;
        margin-top: 15px;
        background: var(--color3);
    }

    img.page-main-img {
        height: 350px;
    }
}


@media (max-width: 768px) {

    .b-left a.button-1,
    .b-left a.button-2 {
        margin-left: 0px;
    }

    img.section-1-img {
        height: 340px;

    }
}


/* ----------------------------- END MOBILE ---------------------------------- */

#button-up,
#button-add {
    opacity: 0;
    width: 60px;
    height: 60px;
    display: block;
    position: fixed;
    bottom: 35px;
    padding: 14px 16px;
    right: 8px;
    z-index: 99;
    border: 0;
    outline: 0;
    background-color: var(--color3);
    cursor: pointer;
    border-radius: 100px;
    transition: all .3s ease-in-out 0s;
}

#button-add {
    opacity: 1;
    bottom: 105px;
    background-color: var(--color2);
}

#button-up img,
#button-add img {
    width: 100%;
    height: 100%;
}

#button-up:hover,
#button-add:hover {
    opacity: 0.7 !important;
    transition: all .3s ease-in-out 0s;
}



/* ####################################### ------ VERSION 3.0 UPDATE ------ ################################## */


/* ----------------------------- Main Buttons Modals ------------------------------- */

.buttons-line {
    width: auto;
}

button.load-btn,
button.save-btn,
button.add-btn,
button.json-btn,
button.tab-btn {
    background-color: var(--color1);
    font-size: 14px;
    font-weight: var(--SemiBold) !important;
    color: var(--white);
    border: var(--color1) solid 3px;
    border-radius: 25px;
    padding: 16px 50px 16px 18px !important;
    background-image: url(/files/resources/svg/load.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 26px 28px;
    transition: all 0.25s;
    margin: 15px 0px 0px 6px;
}

button.save-btn {
    background-image: url(/files/resources/svg/save.svg);
}

button.add-btn {
    background-color: var(--color2);
    color: var(--white);
    border: var(--color2) solid 3px;
    background-image: url(/files/resources/svg/add.svg);
    background-size: 28px;
}

button.json-btn {
    background-color: var(--white);
    color: var(--color1);
    border: var(--color1) solid 3px;
    padding: 16px 18px 16px 18px !important;
    background-image: none;
}

button.tab-btn {
    background-color: var(--white);
    color: var(--color1);
    border: var(--color1) solid 3px;
    padding: 12px 18px 12px 18px !important;
    background-image: none;
    border-radius: 20px;
    margin: 15px 10px 0px 0px;
}

button.tab-btn.active {
    background-color: var(--color1);
    color: var(--white);
    border: var(--color1) solid 3px;
    padding: 12px 18px 12px 18px !important;
    background-image: none;
}

button.load-btn:hover,
button.save-btn:hover,
button.add-btn:hover,
button.json-btn:hover {
    opacity: 0.7;
    transition: all 0.25s;
}

h5.u-modal-name {
    color: var(--white);
    font-size: 18px;
    font-weight: var(--Bold);
    margin: 0px 0px 0px 20px;
    font-family: var();
}

.modal-container {
    padding: 35px;
}

.modal-container h4 {
    font-family: "Poppins", sans-serif;
    color: var(--color1);
    font-size: 18px;
    font-weight: var(--Bold);
    width: 100%;
    margin-bottom: 20px;
}

.modal-inputs p {
    color: var(--color1);
    font-size: 16px;
    font-weight: var(--SemiBold);
    margin-bottom: 10px;
}

.modal-inputs input {
    max-width: 600px;
    margin-bottom: 15px;
}

.modal-check {
    padding: 5px;
    margin: 10px 0px 20px 0px;
}

.modal-check input,
.modal-check label {
    cursor: pointer !important;
}

.form-check-input:checked {
    background-color: var(--color3);
    border-color: var(--color3);
}


/* ----------------------------- Notification ------------------------------- */


.toast.error,
.toast.success,
.toast.info,
.toast.warning {
    width: 100%;
    max-width: 100%;
    padding: 8px 15px 8px 45px;
    margin-top: 15px;
    font-size: 14px;
    color: var(--color1);
    font-weight: var(--SemiBold);
    pointer-events: auto;
    background-color: var(--status-error);
    background-clip: padding-box;
    border: none !important;
    box-shadow: none !important;
    border-radius: 25px;
    background-image: url(/files/resources/svg/error.svg);
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: 30px 30px;
}

.toast.success {
    background-color: var(--status-success);
    background-image: url(/files/resources/svg/success.svg);
}

.toast.info {
    background-color: var(--status-info);
    background-image: url(/files/resources/svg/info.svg);
}

.toast.warning {
    background-color: var(--status-warning);
    background-image: url(/files/resources/svg/warning.svg);
}


img.toast-close-icon {
    width: 26px;
    cursor: pointer;
    display: block;
    float: right;
}



/* ----------------------------- Table ------------------------------- */

.notes-table {
    table-layout: fixed;
}

.tab-con {
    width: 100%;
    overflow-x: auto;
}

table.wyzwania-tab {
    margin-top: 30px;
    width: 100%;
    min-width: 1100px !important;
    display: block;
}

.wyzwania-tab tbody {
    display: block;
    overflow: scroll;
    max-height: 610px;
}

.wyzwania-tab thead {
    display: table;
    width: 99.25%;
    table-layout: fixed;
}



@media (max-width: 1399px) {
    .wyzwania-tab thead {
        width: 99.1%;
    }
}

.wyzwania-tab thead tr th {
    font-size: 16px;
    color: var(--color1);
    font-weight: var(--Bold);
    padding: 15px 6px 15px 5px;
    text-align: center;
}

.wyzwania-tab tbody tr td {
    font-size: 14px;
    color: var(--color1);
    font-weight: var(--SemiBold);
    padding: 6px;
}

.wyzwania-tab tbody tr td a {
    font-size: 14px;
    color: #00a2dc;
    font-weight: var(--SemiBold);
}

.wyzwania-tab tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.wyzwania-tab tr th.challenge-column-number,
.wyzwania-tab tr td.challenge-column-number {
    width: 4%;
    text-align: center;
}

.wyzwania-tab tr th.challenge-column-date,
.wyzwania-tab tr td.challenge-column-date {
    width: 10%;
    text-align: center;
}

.wyzwania-tab tr th.challenge-column-type,
.wyzwania-tab tr td.challenge-column-type {
    width: 20%;
}

.wyzwania-tab tr th.challenge-column-person,
.wyzwania-tab tr td.challenge-column-person {
    width: 20%;
}

.wyzwania-tab tr th.challenge-column-status,
.wyzwania-tab tr td.challenge-column-status {
    width: 6%;
    text-align: center;
}

.wyzwania-tab tr th.challenge-column-progress,
.wyzwania-tab tr td.challenge-column-progress {
    width: 12%;
}

.wyzwania-tab .bg-success {
    background-color: var(--color-step-done) !important;
}

.wyzwania-tab .bg-warning {
    background-color: var(--color-step-optional-waiting) !important;
}

.tab-con::-webkit-scrollbar-thumb {
    background-color: var(--color3)
}

tbody,
.tab-con {
    scrollbar-width: 10px;
    scrollbar-color: var(--color3);
}

tbody::-webkit-scrollbar {
    width: 10px;
}

.tab-con::-webkit-scrollbar {
    height: 10px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    border: none;
}

thead td,
thead th,
tbody td,
tbody th {
    border: 1px solid #e6e6e6;
}

tbody tr:nth-child(even) {
    background: #f1f1f1;
}

tbody tr:hover {
    background-color: #baeafb7a;
    border: 1px solid #585858;
}


thead {
    background: #eaeaea;
}


/* ----------------------------- Tabs ------------------------------- */

.tabs-con {
    margin-top: 15px;
}

.tab-content {
    margin: 15px 0px 0px 0px;
}

p.tab-p {
    margin: 20px 0px 0px 0px;
}


/* ----------------------------- Plus Button ------------------------------- */

.plus-btn {
    display: block;
    float: right;
    margin: 0px 15px 20px 0px;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    background-image: url(/files/resources/svg/add2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
    background-color: var(--color3);
    transition: all 0.35s;
}

.plus-btn:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.35s;
}


/* ----------------------------- V 3.0 Mobile class ------------------------------- */

@media (max-width: 992px) {

    button.load-btn,
    button.save-btn,
    button.add-btn,
    button.json-btn {
        width: 100%;
        display: block;
        margin: 15px 0px 15px 0px;
    }

    button.load-btn {
        float: left;
        width: 48%;
        margin: 0px 0px 15px 0px;
        padding: 16px 50px 16px 0px !important;
    }

    button.save-btn {
        float: right;
        width: 48%;
        padding: 16px 50px 16px 0px !important;
        margin: 0px 0px 15px 0px;
    }

    .wyzwania-tab tbody {
        display: block;
        overflow: scroll;
        max-height: 480px;
    }

    .buttons-line {
        width: 100%
    }
}

/* ----------------------------- OTHER ---------------------------------- */

.full-selectable {
    user-select: all;
    cursor: pointer;
}

.challenge-item-button-icon .svg-image {
    width: 20px;
    height: 20px;
}

.challenge-success-status-icon .svg-image {
    width: 25px;
    height: 25px;
}
.challenge-success-status-icon-todo .svg-image {
  filter: brightness(0) saturate(100%) invert(56%) sepia(34%) saturate(3434%) hue-rotate(3deg) brightness(100%) contrast(101%); /* #FA8901 */
}
.challenge-success-status-icon-aborted .svg-image {
  filter: brightness(0) saturate(100%) invert(11%) sepia(98%) saturate(6687%) hue-rotate(17deg) brightness(90%) contrast(121%); /* #DD0000 */
}
.challenge-success-status-icon-waiting .svg-image {
  filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(6840%) hue-rotate(247deg) brightness(77%) contrast(139%); /* #0000DD */
}
.challenge-success-status-icon-done .svg-image {
  filter: brightness(0) saturate(100%) invert(29%) sepia(48%) saturate(2473%) hue-rotate(95deg) brightness(103%) contrast(107%); /* #00FF00 */
}

#notifications {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10000;
}

.notification-prefix {
  font-weight: bold;
}

.selectable-content {
  user-select: all;
  cursor: pointer;
}





/*.description-area .selected-day-info {*/
  /*color: rgb(200, 0, 0);*/
  /*font-weight: bold;*/
/*}*/

/*.description-area .status {*/
  /*width: auto;*/
  /*min-width: 20px;*/
  /*margin: 1px;*/
  /*padding: 2px;*/
  /*border-radius: 50px;*/
  /*border-style: solid;*/
  /*border-width: 1px;*/
  /*white-space: pre;*/
/*}*/

.status-title {
  font-weight: bold;
  color: rgb(0, 100, 100);
  border-color: rgb(0, 100, 100);
}
.status-list {
  font-weight: bold;
  color: white;
  border-color: white;
  background-color: rgb(0, 100, 100);
}

.expand-button {
  color: rgb(0, 100, 100);
}


iframe {
  border: var(--color3) solid 2px;
  border-radius: 25px;
  padding: 20px;

  height: 50vh;
  width: 100%;
}

.challenges-description {
  margin: 10px;
  border: var(--color1) solid 4px;
  border-radius: 25px;
  padding: 20px;
}

.challenges-description p,
.challenges-description li
{
  font-size: 1em;
}

.challenges-description sup {
  color: var(--color3);
}

.challenges-description > blockquote > p {
  margin-left: 10px;
  padding: 0 1em;
  color: var(--color3) !important;
  border-left: .25em solid var(--color3);
  font-size: 1em;
}




.date-change-form {
  border: var(--color3) solid 2px;
  border-radius: 25px;
  padding: 20px;

  width: 100%;
  margin-top: 10px;
}
.date-list {
  border: var(--color1) solid 2px;
  border-radius: 25px;
  padding: 20px;

  width: 100%;
  margin-top: 10px;
}

.date-form-name {
  display: inline;
}

.date-form-date {
  display: inline;
  font-weight: var(--Bold);
}
